@import url("https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+AU+VIC+Guides&family=Playwrite+IE+Guides&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
}
:root {
  --bg-color: #f6ebda;
  --primary-text-color: #000000;
  --secondary-text-color: #d4872d;
}

html {
  overflow-x: hidden;
}
body {
  background-color: var(--bg-color);
}
header {
  position: relative;
  width: 100%;
  top: 35px;
  left: 8%;
  /* margin-left: 25px; */
  /* margin-top: 5px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px;
}
.header .logo {
  font-family: Grechen Fuemen;
  font-size: 2.5rem;
  margin-left: 50px;
  color: var(--primary-text-color);
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}
.header span {
  font-size: 2rem;
  font-family: Grechen Fuemen;
  color: var(--secondary-text-color);
}

.header .bx {
  font-size: 2rem;
  color: var(--primary-text-color);
  display: none;
  cursor: pointer;
}
.navbar {
  flex: 1;
  display: flex;
  justify-content: center;
}
.navbar a {
  font-size: 1.3rem;
  color: var(--primary-text-color);
  margin: 0 25px;
  font-weight: 550;
  transition: 0.3 ease-in-out;
  border-bottom: 3px solid transparent;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    color: var(--secondary-text-color);
    border-bottom: 3px solid var(--secondary-text-color);
  }
}
.home {
  display: flex;
  /* align-items: center;  */
  justify-content: flex-start; /* Align left */
  height: 100vh; /* Full screen height */
  padding-left: 12%; /* Adjust as needed */
  margin-top: 8%;
}

.home {
  padding: 90px 150px;
}
.home-content {
  max-width: 50%;
  height: 350px;
}

.home-content h2 {
  font-size: 4.1rem;
  font-weight: bold;
  color: var(--primary-text-color);
  line-height: 1.2;
}
.home-content h2 span {
  color: var(--secondary-text-color);
}

.home-content h4 {
  padding: 10px 0;
  color: #000000ca;
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: 300;
  line-height: 1;
}

.home img {
  width: 350px; /* Adjust image size */
  height: 350px; /* Ensure uniform height */
  margin-left: 10%;
  object-fit: cover; /* Crop and fit the image properly */
  border-radius: 50%; /* Makes it circular */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.46); /* Optional shadow for better appearance */
  &:hover {
    transform: scale(1.1);
  }
}
.order-button {
  font-size: 1rem;
  padding: 10px 25px;
  background-color: var(--secondary-text-color);
  color: var(--bg-color);
  margin-top: 10px;
  border-radius: 25px;
  font-weight: 550;
  border: 3px solid transparent;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
    background-color: var(--primary-text-color);
    color: var(--secondary-text-color);
    border: 3px solid var(--secondary-text-color);
  }
}
.order-button .bx {
  font-size: 20px;
}
.more-menu {
  background-color: var(--bg-color);
  text-decoration: underline;
  font-size: 1rem;
  font-weight: 550;
  margin: 0 10px;
  padding: 20px 55px;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    color: var(--secondary-text-color);
  }
}
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: auto;
  background-image: url(assets/about-us.webp);
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.381);
  backdrop-filter: blur(20px);
}
.about-content h2 {
  font-size: 3.5rem;
  color: white;
  font-weight: 800;
  text-align: center;
}
.about-content span {
  font-size: 3.5rem;
  color: var(--secondary-text-color);
  font-weight: 800;
}
.about-content {
  text-align: center;
  backdrop-filter: blur(5px);
  background-color: rgba(103, 72, 54, 0.679);
  border-radius: 2rem;
  padding: 5rem;
  width: 600px;
}
.about-content p {
  color: white;
  text-align: justify;
  font-size: 1.2rem;
  line-height: 1.2;
}
.about-content p span {
  color: var(--secondary-text-color);
  font-size: 1.3rem;
}

.coffee {
  background-color: var(--bg-color, #f4f4f4); /* Default color if var is not set */
  padding: 4rem 2rem;
  text-align: center;
}
.heading{
  font-size: 2rem;
  font-weight: 800;
  color: var(--secondary-text-color);
  line-height: 3;
}
.coffees-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 2rem;
  justify-items: center;
}

.coffee-box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  text-align: center;
  transition: transform 0.3s;
}

.coffee-box:hover {
  transform: translateY(-5px);
}

.coffee-box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.coffee-info {
  padding: 1rem;
}

.coffee-info h4 {
  margin-bottom: 0.5rem;
  color: #333;
}

.coffee-info p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 1rem;
}

.coffee-info a i {
  font-size: 1.5rem;
  color: #6a4f4b;
  transition: color 0.3s;
}

.coffee-info a i:hover {
  color: #d2691e;
}
.review{
  background-color: var(--bg-color);
  text-align: center;
  margin-top: 15px;
}
.review-container{
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1rem;
  justify-items: center;
}
.review h2{
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--secondary-text-color);
  padding: 15px 20px;
}
.review-box{
  background-color: rgb(245, 245, 245);
  width: 300px;
  height: 350px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.381);
  margin-top: 50px;
  padding: 10px;
  overflow: hidden;
  transition: transform 0.5s;

  &:hover{
    transform: translateY(-4px);
    background-color: hsla(0, 0%, 0%, 0.35);
  }
}
.review-box i{
  font-size: 5rem;
  color: #000000;
  margin-top: 20px;
}
.review-box h4{
  font-size: 1.5rem;
  margin: 10px 10px;
  font-weight: 800;
}
.review-box p {
  font-size: 1rem;
  margin-top: 15px;
  text-align: center;
  padding: 10px;
  font-weight: 400;
}
.review-box .button{
  font-size: 1rem;
  font-weight: 600;
  margin-top: 15px;
  padding: 15px 15px;
  background-color: var(--secondary-text-color);
  border-radius: 20px;
  transition: 0.4s ease-in-out;
  cursor: pointer;

  &:hover{
    background-color:#d2691e;
    transform:scale(1.1) ;
  }
  &:active{
    transform:scale(1.1) ;
    background-color: rgba(255, 116, 3, 0.504);
  }
}
.contact{
  background-color: var(--bg-color);
  text-align: center;
  min-height: 90vh;
}
.contact h2{
  color: var(--secondary-text-color);
  font-size: 2.5rem;
  font-weight: 900;
  padding: 10px;
  margin-bottom: 5px;
}
.contact-container{
  display: grid;
  grid-template-rows:repeat(4,1fr) 2fr;
  justify-content: center;
  row-gap: 0.5rem;
}
.contact-container input{
  background-color: #d3cdc4;
  border: 2px solid rgba(0, 0, 0, 0.825);
  /* margin-top: 5px; */
  height: 40px;
  width: 350px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.345);
}
.contact-container ::placeholder{
  font-size: 1.1rem;
  padding: 10px;
}
.contact-container #message{
  height: 120px;
}
#contact-button{
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 35px;
  padding: 20px 15px;
  background-color: var(--secondary-text-color);
  width: 200px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.621);
  cursor: pointer;
  transition: transform 0.2s;
  &:hover{
    transform: translateY(-5px);
  }
  &:active{
    background-color: #d2691eac;
  }
}